/*
Theme Name: Equinox
Author: Clemens "icewindow" Baudisch
Author URI: https://icewindow.net/
Description: Based on Twenty Seventeen by the WordPress team
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: equinox
Domain path: /language
Tags: one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready
*/
* {
  box-sizing: border-box; }

body {
  font-family: sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0; }
  body.admin-bar {
    margin-top: 32px; }
    @media screen and (max-width: 782px) {
      body.admin-bar {
        margin-top: 46px; } }

@media screen and (max-width: 600px) {
  #wpadminbar {
    position: fixed; } }
#page {
  position: relative;
  height: 100%;
  width: 100%; }

div.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center; }

#pagebg {
  background-image: url(./assets/images/Equinox.png); }

/* Menu */
.equinox-widget {
  background-color: rgba(192, 192, 192, 0.4);
  border-radius: 15px;
  padding: 20px; }

.equinox-sidebar-opener,
.equinox-menu-opener {
  display: none; }

.equinox-menu-container {
  position: absolute;
  top: 5%;
  left: 0;
  bottom: 5%;
  padding-left: 2.5%;
  z-index: 10;
  width: 15%;
  min-width: calc(2.5% + 215px);
  transition: left 0.5s linear; }
  .equinox-menu-container .equinox-menu {
    position: relative;
    overflow-y: auto;
    width: 100%;
    max-height: 100%; }
    .equinox-menu-container .equinox-menu a {
      color: #262626;
      text-decoration: none; }
      .equinox-menu-container .equinox-menu a:hover {
        text-decoration: underline; }
    .equinox-menu-container .equinox-menu .menu-image {
      text-align: center; }
    .equinox-menu-container .equinox-menu ul.menu {
      list-style-type: none;
      margin-left: 0;
      padding: 0;
      font-size: 1.2em; }
      .equinox-menu-container .equinox-menu ul.menu a {
        color: #000; }
      .equinox-menu-container .equinox-menu ul.menu ul.sub-menu {
        list-style-type: none;
        padding-left: 20px;
        margin-top: 5px; }
      .equinox-menu-container .equinox-menu ul.menu li {
        margin-bottom: 10px; }
        .equinox-menu-container .equinox-menu ul.menu li::before {
          font-family: FontAwesome;
          content: '\f105';
          width: 13px;
          display: inline-block;
          transition: all 0.1s linear;
          transform-origin: left center; }
        .equinox-menu-container .equinox-menu ul.menu li.menu-item-has-children::before {
          content: '\f101'; }
        .equinox-menu-container .equinox-menu ul.menu li.menu-item-has-children ul {
          transition: all 300ms linear;
          overflow: hidden;
          max-height: 0; }
        .equinox-menu-container .equinox-menu ul.menu li.menu-item-has-children:hover > ul, .equinox-menu-container .equinox-menu ul.menu li.menu-item-has-children.current-menu-ancestor > ul {
          max-height: 300px; }
        .equinox-menu-container .equinox-menu ul.menu li.current-menu-item a {
          text-decoration: underline; }
    .equinox-menu-container .equinox-menu .menu-hide p {
      font-size: 75%;
      cursor: pointer; }
      .equinox-menu-container .equinox-menu .menu-hide p:hover {
        text-decoration: underline; }

/* Content */
.site-content-contain {
  position: absolute;
  z-index: 1;
  top: 5%;
  left: 0;
  bottom: 5%;
  right: 0;
  margin: 0 20%;
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 5px; }
  .site-content-contain .site-content {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px; }
  .site-content-contain .wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto; }

/* Widget areas */
.primary-sidebar {
  position: absolute;
  top: 5%;
  right: 0;
  bottom: 5%;
  padding-right: 2.5%;
  z-index: 10;
  width: 15%;
  min-width: calc(2.5% + 215px);
  transition: right 0.5s linear; }

.footer-sidebar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 20%;
  display: flex;
  justify-content: space-evenly; }
  .footer-sidebar .equinox-widget {
    border-radius: 5px 5px 0 0;
    padding: 10px; }

@media screen and (max-width: 767px) {
  .equinox-menu-container {
    top: 0;
    left: 0 !important;
    right: 0;
    width: 100%;
    height: 100%;
    max-height: 5%;
    padding: 5vh 0 0 0;
    transition: all 250ms linear; }
    .equinox-menu-container .equinox-menu {
      border-radius: 0;
      background-color: transparent;
      overflow: hidden;
      padding: 0 2.5%; }
      .equinox-menu-container .equinox-menu ul.menu {
        margin: 0;
        position: relative; }
        .equinox-menu-container .equinox-menu ul.menu ul.sub-menu {
          margin: 0;
          padding: 0; }
        .equinox-menu-container .equinox-menu ul.menu li {
          min-height: 5vh;
          line-height: 5vh;
          margin: 0; }
          .equinox-menu-container .equinox-menu ul.menu li::before {
            display: none; }
          .equinox-menu-container .equinox-menu ul.menu li a {
            display: block; }
          .equinox-menu-container .equinox-menu ul.menu li.menu-item-has-children ul {
            max-height: unset; }
          .equinox-menu-container .equinox-menu ul.menu li > ul > li {
            padding-left: 4%; }
        .equinox-menu-container .equinox-menu ul.menu ul.sub-menu::before,
        .equinox-menu-container .equinox-menu ul.menu li::after {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          border-top: solid 1px #000; }
        .equinox-menu-container .equinox-menu ul.menu li:last-child::after {
          display: none; }
      .equinox-menu-container .equinox-menu .menu-image,
      .equinox-menu-container .equinox-menu .menu-hide {
        display: none; }

  .primary-sidebar {
    top: 0;
    left: 0 !important;
    right: 0;
    width: 100%;
    height: 100%;
    max-height: 0;
    margin: 5vh 0 0 0;
    transition: all 250ms linear;
    overflow: hidden; }
    .primary-sidebar .equinox-widget {
      border-radius: 0; }

  div.equinox-menu-opener {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 2.5vw;
    height: 5vh;
    z-index: 20; }
    div.equinox-menu-opener .burger {
      display: inline-block;
      cursor: pointer;
      height: 3vh;
      width: 3vh;
      line-height: 3vh; }
      div.equinox-menu-opener .burger .burger-inner {
        background-color: #fff;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        transition: all 250ms linear; }
        div.equinox-menu-opener .burger .burger-inner::before, div.equinox-menu-opener .burger .burger-inner::after {
          content: "";
          display: block;
          background-color: inherit;
          position: absolute;
          transition: all 250ms linear; }
      div.equinox-menu-opener .burger .burger-inner {
        width: 3vh;
        height: 0.4285714286vh; }
        div.equinox-menu-opener .burger .burger-inner::before, div.equinox-menu-opener .burger .burger-inner::after {
          width: 3vh;
          height: 0.4285714286vh; }
        div.equinox-menu-opener .burger .burger-inner::before {
          top: -1.2857142857vh; }
        div.equinox-menu-opener .burger .burger-inner::after {
          top: 1.2857142857vh; }

  .sidebar-primary div.equinox-menu-opener {
    right: 10.5vw; }
  .sidebar-primary div.equinox-sidebar-opener {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 2.5vw;
    height: 5vh;
    z-index: 20; }
    .sidebar-primary div.equinox-sidebar-opener .door {
      width: 3vh;
      height: 3vh;
      border-right: solid 3px;
      border-color: #fff;
      overflow: hidden;
      position: relative;
      display: inline-block;
      box-sizing: border-box;
      vertical-align: middle; }
      .sidebar-primary div.equinox-sidebar-opener .door .door-inner {
        position: absolute;
        border-style: solid;
        border-width: 2px;
        border-color: inherit;
        width: 2vh;
        height: 2vh;
        top: 0.5vh;
        right: -1.5vh;
        display: inline-block;
        transition: all 250ms ease-in-out; }

  #equinox-menu-opener:checked ~ .equinox-menu-container {
    max-height: 100%; }
    #equinox-menu-opener:checked ~ .equinox-menu-container .equinox-menu {
      overflow-y: auto; }

  #equinox-menu-opener:checked ~ div.equinox-menu-opener .burger .burger-inner {
    transform: rotateZ(45deg); }
    #equinox-menu-opener:checked ~ div.equinox-menu-opener .burger .burger-inner::before {
      top: 0; }
    #equinox-menu-opener:checked ~ div.equinox-menu-opener .burger .burger-inner::after {
      transform: rotateZ(-90deg);
      top: 0; }

  #equinox-sidebar-opener:checked ~ .primary-sidebar {
    max-height: 100%; }

  #equinox-sidebar-opener:checked ~ div.equinox-sidebar-opener .door .door-inner {
    right: -0.5vh; }

  .site-content-contain {
    top: 10%;
    margin: 0 5%; } }
@media screen and (max-width: 767px) and (min-aspect-ratio: 1 / 1) {
  .equinox-menu-container {
    max-height: 5vw;
    padding-top: 5vw; }
    .equinox-menu-container .equinox-menu ul.menu li {
      min-height: 5vw;
      line-height: 5vw; }

  div.equinox-menu-opener {
    height: 5vw; }
    div.equinox-menu-opener .burger {
      height: 3vw;
      width: 3vw;
      line-height: 3vw; }
      div.equinox-menu-opener .burger .burger-inner {
        width: 3vw;
        height: 0.4285714286vw; }
        div.equinox-menu-opener .burger .burger-inner::before, div.equinox-menu-opener .burger .burger-inner::after {
          width: 3vw;
          height: 0.4285714286vw; }
        div.equinox-menu-opener .burger .burger-inner::before {
          top: -1.2857142857vw; }
        div.equinox-menu-opener .burger .burger-inner::after {
          top: 1.2857142857vw; }

  .site-content-contain {
    top: 10vw; } }

/*# sourceMappingURL=style.css.map */
