/*
Theme Name: Equinox
Author: Clemens "icewindow" Baudisch
Author URI: https://icewindow.net/
Description: Based on Twenty Seventeen by the WordPress team
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: equinox
Domain path: /language
Tags: one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready
*/

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;

    &.admin-bar {
        margin-top: 32px;

        @media screen and (max-width: 782px) {
            margin-top: 46px;
        }
    }
}

@media screen and (max-width: 600px) {
    #wpadminbar {
        position: fixed;
    }
}

#page {
    position: relative;
    height: 100%;
    width: 100%;
}

div.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

#pagebg {
    background-image: url(./assets/images/Equinox.png);
}

/* Menu */

.equinox-widget {
    background-color: rgba(192, 192, 192, 0.4);
    border-radius: 15px;
    padding: 20px;
}

.equinox-sidebar-opener,
.equinox-menu-opener {
    display: none;
}

.equinox-menu-container {
    position: absolute;
    top: 5%;
    left: 0;
    bottom: 5%;
    padding-left: 2.5%;
    z-index: 10;
    width: 15%;
    min-width: calc(2.5% + 215px);
    transition: left 0.5s linear;

    .equinox-menu {
        position: relative;
        overflow-y: auto;
        width: 100%;
        max-height: 100%;

        a {
            color: #262626;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        .menu-image {
            text-align: center;
        }

        ul.menu {
            list-style-type: none;
            margin-left: 0;
            padding: 0;
            font-size: 1.2em;

            a {
                color: #000;
            }

            ul.sub-menu {
                list-style-type: none;
                padding-left: 20px;
                margin-top: 5px;
            }

            li {
                margin-bottom: 10px;

                &::before {
                    font-family: FontAwesome;
                    content: '\f105';
                    width: 13px;
                    display: inline-block;
                    transition: all 0.1s linear;
                    transform-origin: left center;
                }

                &.menu-item-has-children {

                    &::before {
                        content: '\f101';
                    }

                    ul {
                        transition: all 300ms linear;
                        overflow: hidden;
                        max-height: 0;
                    }

                    &:hover,
                    &.current-menu-ancestor {

                        > ul {
                            max-height: 300px;
                        }
                    }
                }

                &.current-menu-item {
                    a {
                        text-decoration: underline;
                    }
                }
            }
        }

        .menu-hide p {
            font-size: 75%;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

/* Content */
.site-content-contain {
    position: absolute;
    z-index: 1;
    top: 5%;
    left: 0;
    bottom: 5%;
    right: 0;
    margin: 0 20%;
    background-color: rgba(255, 255, 255, 0.55);
    border-radius: 5px;

    .site-content {
        position: absolute;
        top: 10px;
        bottom: 10px;
        left: 10px;
        right: 10px;
    }

    .wrap {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow-y: auto;
    }
}

/* Widget areas */

.primary-sidebar {
    position: absolute;
    top: 5%;
    right: 0;
    bottom: 5%;
    padding-right: 2.5%;
    z-index: 10;
    width: 15%;
    min-width: calc(2.5% + 215px);
    transition: right 0.5s linear;
}

.footer-sidebar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 20%;
    display: flex;
    justify-content: space-evenly;

    .equinox-widget {
        border-radius: 5px 5px 0 0;
        padding: 10px;
    }
}

@mixin burgerSize($sliceWidth) {
    $sliceHeight: $sliceWidth / 7;

    height: $sliceWidth;
    width: $sliceWidth;
    line-height: $sliceWidth;

    .burger-inner {
        width: $sliceWidth;
        height: $sliceHeight;

        &::before,
        &::after {
            width: $sliceWidth;
            height: $sliceHeight;
        }

        &::before {
            top: -1 * $sliceHeight * 3;
        }

        &::after {
            top: $sliceHeight * 3;
        }
    }
}

@media screen and (max-width: 767px) {
    .equinox-menu-container {
        top: 0;
        left: 0 !important;  // The menu might be hidden when going small screen. This makes sure the menu will be fully visible
        right: 0;
        width: 100%;
        height: 100%;
        max-height: 5%;
        padding: 5vh 0 0 0;
        transition: all 250ms linear;

        .equinox-menu {
            border-radius: 0;
            background-color: transparent;
            overflow: hidden;
            padding: 0 2.5%;

            ul.menu {
                margin: 0;
                position: relative;

                ul.sub-menu {
                    margin: 0;
                    padding: 0;
                }

                li {
                    min-height: 5vh;
                    line-height: 5vh;
                    margin: 0;

                    &::before {
                        display: none;
                    }

                    a {
                        display: block;
                    }

                    &.menu-item-has-children {
                        ul {
                            max-height: unset;
                        }
                    }

                    > ul {
                        > li {
                            padding-left: 4%;
                        }
                    }
                }

                ul.sub-menu::before,
                li::after {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    right: 0;
                    border-top: solid 1px #000;
                }

                li:last-child::after {
                    display: none;
                }
            }

            .menu-image,
            .menu-hide {
                display: none;
            }
        }
    }

    .primary-sidebar {
        top: 0;
        left: 0 !important; // The menu might be hidden when going small screen. This makes sure the menu will be fully visible
        right: 0;
        width: 100%;
        height: 100%;
        max-height: 0;
        margin: 5vh 0 0 0;
        transition: all 250ms linear;
        overflow: hidden;

        .equinox-widget {
            border-radius: 0;
        }
    }

    div.equinox-menu-opener {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        right: 2.5vw;
        height: 5vh;
        z-index: 20;

        .burger {
            display: inline-block;
            cursor: pointer;

            .burger-inner {
                background-color: #fff;
                display: inline-block;
                position: relative;
                vertical-align: middle;
                transition: all 250ms linear;

                &::before,
                &::after {
                    content: "";
                    display: block;
                    background-color: inherit;
                    position: absolute;
                    transition: all 250ms linear;
                }
            }

            @include burgerSize(3vh);
        }
    }

    .sidebar-primary {
        div.equinox-menu-opener {
            right: 10.5vw;
        }

        div.equinox-sidebar-opener {
            display: flex;
            align-items: center;
            position: absolute;
            top: 0;
            right: 2.5vw;
            height: 5vh;
            z-index: 20;

            .door {
                width: 3vh;
                height: 3vh;
                border-right: solid 3px;
                border-color: #fff;
                overflow: hidden;
                position: relative;
                display: inline-block;
                box-sizing: border-box;
                vertical-align: middle;

                .door-inner {
                    position: absolute;
                    border-style: solid;
                    border-width: 2px;
                    border-color: inherit;
                    width: 2vh;
                    height: 2vh;
                    top: 0.5vh;
                    right: -1.5vh;
                    display: inline-block;
                    transition: all 250ms ease-in-out;
                }
            }
        }
    }

    #equinox-menu-opener:checked ~ .equinox-menu-container {
        max-height: 100%;

        .equinox-menu {
            overflow-y: auto;
        }
    }

    #equinox-menu-opener:checked ~ div.equinox-menu-opener {
        .burger {
            .burger-inner {
                transform: rotateZ(45deg);

                &::before {
                    top: 0;
                }

                &::after {
                    transform: rotateZ(-90deg);
                    top: 0;
                }
            }
        }
    }

    #equinox-sidebar-opener:checked ~.primary-sidebar {
        max-height: 100%;
    }

    #equinox-sidebar-opener:checked ~ div.equinox-sidebar-opener {
        .door {
            .door-inner {
                right: -0.5vh;
            }
        }
    }

    .site-content-contain {
        top: 10%;
        margin: 0 5%;
    }
}

@media screen and (max-width: 767px) and (min-aspect-ratio: 1/1) {
    .equinox-menu-container {
        max-height: 5vw;
        padding-top: 5vw;

        .equinox-menu {
            ul.menu {
                li {
                    min-height: 5vw;
                    line-height: 5vw;
                }
            }
        }
    }

    div.equinox-menu-opener {
        height: 5vw;

        .burger {
            @include burgerSize(3vw);
        }
    }

    .site-content-contain {
        top: 10vw;
    }
}
