.equinox-post-background {
    div {
        float: left;
        width: 160px;
        margin-right: 5px;

        img {
            width: 100%;
            height: auto;
        }

        input {
            display: none;
        }

        label {

            img {
                border: solid 2px lightgray;
                box-sizing: border-box;
                filter: saturate(0);
                padding: 2px;
            }
        }

        input:checked + label {
            img {
                border: solid 2px blue;
                filter: saturate(1);
            }
        }
    }

    &.big {
        margin-bottom: 10px;

        div {
            width: 250px;
        }
    }

    &::after {
        content: ' ';
        display: block;
        clear: both;
    }
}