.equinox-post-background div {
  float: left;
  width: 160px;
  margin-right: 5px; }
  .equinox-post-background div img {
    width: 100%;
    height: auto; }
  .equinox-post-background div input {
    display: none; }
  .equinox-post-background div label img {
    border: solid 2px lightgray;
    box-sizing: border-box;
    filter: saturate(0);
    padding: 2px; }
  .equinox-post-background div input:checked + label img {
    border: solid 2px blue;
    filter: saturate(1); }
.equinox-post-background.big {
  margin-bottom: 10px; }
  .equinox-post-background.big div {
    width: 250px; }
.equinox-post-background::after {
  content: ' ';
  display: block;
  clear: both; }

/*# sourceMappingURL=equinox-admin.css.map */
